<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Login</span>
          <%= form_with url: login_path, local: true do |form| %>
            <div class="input-field">
              <%= form.label :email %>
              <%= form.text_field :email, required: true %>
            </div>
            <div class="input-field">
              <%= form.label :password %>
              <%= form.password_field :password, required: true %>
            </div>
            <div class="card-action">
              <%= form.submit "Login", class: "btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
