<div id="<%= dom_id collection_point %>">
  <p>
    <strong>Name:</strong>
    <%= collection_point.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= collection_point.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= collection_point.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= collection_point.longitude %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= collection_point.contact %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= collection_point.website %>
  </p>

</div>
