<%= form_with(model: collection_point) do |form| %>
  <% if collection_point.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(collection_point.errors.count, "error") %> prohibited this collection_point from being saved:</h2>
      <ul>
        <% collection_point.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude %>
  </div>
  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>
  <div>
    <%= form.label :contact, style: "display: block" %>
    <%= form.text_field :contact %>
  </div>
  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website %>
  </div>
  <div>
    <%= form.label "Materials", style: "display: block" %>
    <% @recyclable_materials.each do |material| %>
      <div>
        <%= check_box_tag "collection_point[recyclable_material_ids][]", material.id, collection_point.recyclable_material_ids.include?(material.id) %>
        <%= label_tag "collection_point_recyclable_material_ids_#{material.id}", material.name %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
