<p style="color: green"><%= notice %></p>

<%= render @collection_point %>

<div>
  <%= link_to "Edit this collection point", edit_collection_point_path(@collection_point) %> |
  <%= link_to "Back to collection points", collection_points_path %>

  <%= button_to "Destroy this collection point", @collection_point, method: :delete %>
</div>
